#home article {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

#home article strong {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: lighter;
    font-size: 26px;
    color: #606060;
}

#home article p {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    color: #606060;
    text-align: justify;
    text-indent: 25px;
}

#home article #welcome-phrase {
    text-indent: 0px;
    font-weight: bold;
    font-size: 13px;
    text-align: right;
}

#home article img {
    display: block;
    margin-top: 25px;
    width: 300px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #606060;
}