* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 105%;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.App {
    width: 600px;
}